.herobanner {
  padding-top: 150px;
  padding-bottom: 150px;
}
.herobanner__container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-right: 24px;
  padding-left: 24px;
}
.herobanner__content {
  width: 50%;
}
.herobanner__title {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 56px;
}

.herobanner__title--highlight {
  font-weight: 700;
  color: #eb414f;
}
.herobanner__button-wrapper {
  max-width: 250px;
}

.herobanner__button {
  margin-bottom: 16px;
}
.herobanner__image {
  max-width: 100%;
}


@media (max-width: 767px) {
  .herobanner__container {
    max-width: 640px;
  }
  .herobanner__content {
    width: 100%;
    margin-bottom: 32px;
  }

  .herobanner__content:nth-child(2) {
    text-align: right;
  }

  .herobanner__image {
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .herobanner {
    padding-top: 120px;
    padding-bottom: 32px;
  }
  .herobanner__title {
    font-size: 32px;
  }
  .herobanner__button-wrapper {
    max-width: 100%;
  }
}