.cardplan {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 24px;
}

.cardplan--highlight {
  box-shadow: 0 3px 18px rgba(0,0,0,0.16);
}

.cardplan__header {
  background-color:#eb414f;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

.cardplan__price-area {
  padding: 24px;
  text-align: center;
}

.cardplan__title {
  margin: 0;
  font-size: 28px;
  font-weight: 800;
  color: #eb414f;
  margin-bottom: 8px;
}

.cardplan__price-wrapper {
  display: inline-block;
}
.cardplan__price--currency {
  font-size: 24px;
  top: -24px;
}
.cardplan__price--nominal {
  font-size: 42px;
  font-weight: 900;
}
.cardplan__price--service {
  display: block;
  width: 100%;
  font-size: 18px;
  text-align: right;
}

.cardplan__feature-area {
  padding: 24px;
}

.cardplan__feature-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cardplan__feature-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.cardplan__feature-item img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.cardplan__button-wrapper {
  padding: 0 24px 24px 24px;
}